

#header {
	padding-top: 40px;
}

#content {
	height: 600px;
	width: auto;
}
#footer {
	padding: 10px 0px;
	font-size: 12px;
	height: auto;
	background-color: #fdfdfd;
	verticle-align: bottom;
}
p {
	 color: black;
}