#header {
	padding-top: 40px;
	padding-bottom: 0px;
	
}

#container {
	padding: 10px 40px 0px 40px;
	height: auto;
	
}


#map {
	
}

#sidebar {
	height: 700px;
	width: 40%;
		background-color: #fdfdfd;

}
.title{
	
	background-color: red;
	height: 200px;
	width: auto;
	
}
.desc{

	background-color:green;
	margin: 30px 40px;
	height: 360px;
}
#footer {
	padding: 10px 0px;
	font-size: 12px;
	
	background-color: #fdfdfd;
	verticle-align: bottom;
}
.left {
	float: left;
}
.right {
	float: right;
}
h1 {
	 
}
h2 {
	 position: relative;
  top: 50%;
  transform: translateY(-50%);
}